.contact-div {
  margin: 30px;
  padding: 30px;
  background-color: #d3efdf;
  font-size: larger;
  /* color: white; */
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

.h2-header{
    font-family: 'Cedarville Cursive', cursive;
    /* font-style: inherit; */
  }
  body{
    background-color: #d3efdf;
}