#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  /* 2-index: 100000; */
}

.nav-link {
  font-weight: 800;
  font-size: 1.5rem;
}

.navbar-nav {
  /* position: relative; */
  display: flex;
  justify-content: end;
  align-items: end;
}



.navbar-custom {
  background-color: #25385d;
  /* font: 1em sans-serif; */
  font-family: cursive;
}

.nav-image{
  background-image: url(/src/medtraklogo/essential_vibes_8.png);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #d3efdf;

}