.essential-needs-intro {
  margin: 20px;
  padding: 60px;
  /* border: 1px solid transparent; */
  border-radius: 10px;
}
.home-image {
  background-image: url(/src/medtraklogo/essential_vibes_5.png);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #d3efdf;
  /* margin: 200px; */
  /* padding: 0; */

  /* background-position: "center"; */
  /* background-size: cover; */
  /* background-size: "cover"; */
  width: 100%;
  height: 500px;

  background-size: 30rem;
  overflow: scroll;
}

footer {
  background-color: #d3efdf;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 85%;
  /* height: 2.5rem;  */
}
.h1-style {
  font-weight: inherit;
  color: #142d6e;
  display: flex;
  justify-content: center;
  font-family: cursive;
}

body{
  background-color: #d3efdf;
}
